<h3>Welcome! This is Sherman</h3>
<p>You are Sherman. You are a purple block.</p>
<p>You would like to push that blue block onto the yellow block.</p>
<p>You can push the blue block over floor tiles (biege) but not through wall tiles (brown).</p>
<p>If you try and push the blue block into a wall tile, you will swap places with the block.</p>
<p>Move with the arrow keys.</p>
